include ../mixins/sub-menu
header 
    .header
        .container
            .row.align-items-center 
                .col-3 
                    .inner-logo 
                        a(href="/")
                            img(src="/logo-varust-vn-red.png", alt="logo") 
                .col-9
                    .inner-menu
                        ul.menu
                            li
                                a(href="/") Trang chủ

                            li.sub-menu
                                - const pathProduct = "/products"
                                a.menu-link(href=pathProduct) Sản phẩm
                                +sub-menu(category, pathProduct)



