.header {
  background: black;
  color: white;
  padding: 10px 0;
  width: 100%;
  height: 60px;
  position: fixed;       /* cố định luôn header */
  top: 0;
  left: 0;
  z-index: 1000;
}

h1{
  margin-top: 60px;
}

.header .col-3 .inner-logo a {
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

.sider {
  position: fixed;
  top: 60px;              /* nằm dưới header */
  left: 0;
  width: 150px;
  height: calc(100vh - 60px);
  background: rgb(47, 47, 47);
  color: white;
  z-index: 999;
}

.sider .inner-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  margin-top: 15px;
}

.sider .inner-menu ul li {
  margin-bottom: 5px;
  border-bottom: 1px solid gray;
  padding: 5px 0;
}

.sider .inner-menu ul li:hover {
  background: gray;
}

.sider .inner-menu ul li a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 5.5px 35.5px;
}

.main {
  margin-left: 150px;
  padding-top: 60px;
  padding: 20px;
}

[show-alert]{
  position: fixed;
  top: 70px;
  right: 15px;
  z-index: 9999;
}

[show-alert].alert-hidden{
  animation-name: alert-hidden;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

@keyframes alert-hidden {
  from{
    right: 15px;
  }
    to{
      right: -100px;
      display: none;
    }
}


.close-alert{
  display: none;
}

.close{
  position: absolute;
  top: 2px;
  right: 2px;
  cursor: pointer;
  width: 20px;
  text-align: center;
}
.close:hover{
  background: green ;
  color: white;
}

.delete-image-preview{
  display: none;
}


